<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>

<body>
	<h2>Home page</h2>

	<p>Welcome to Anagrams</p>

	<h3>Rest paths</h3>
	<ul>
		<li>To check if two given strings are anagrams:
			<span style="color:red">/anagrams/{string1}/{string2}</span></li>
		<li>To generate anagrams for a given string: <span style="color:red">/anagrams/{string1}</span></li>
	</ul>

	<p>
		<h3>Assumed the valid input strings are</h3>
		<ul>
			<li>not null</li>
			<li>not empty</li>
			<li>alphanumeric with whitespace</li>
		</ul>
	</p>
</body>
</html>